body {
    margin-left: 15%;
    margin-right: 15%;
}

.container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

#header {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    text-decoration-line: underline;
    color: #070F18;
    margin-top: 40px;
    margin-bottom: 59px;

}

#menu {
    text-align: right;
    margin-top: 49px;


}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu li {
    display: inline-block;
    margin-left: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400px;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #070F18;
}

#menu a {
    color: #070F18;
    text-decoration: none;
    font-family: 'Poppins';
}

#btnserv {
    width: 180px;
    height: 24px;
    left: 160px;
    top: 507px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #1F7CFF;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    
}

#header-nome h1 {
    font-size: 55px;
    font-family: 'Poppins';
}

#header-nome {
    padding-top:70px;
}

#header-nome p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    
    color: #575455;
}

#header-img img {
    width:100%;
    height: 500px;
    top: 160px;
    padding-left: 40px;
    margin-bottom: 100px;
}

.logo {
    margin-left: 300px;
    margin-top: 59px;
}

#serv p {
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    
    text-align: center;
    color: #F75C4E;
    padding-top: 80px;
}

#serv h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 54px;
    
    text-align: center;
    color: #000000;
    margin-top: 0;
}

#serv h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    
    text-align: center;
    color: #575455;
}

#clientes {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #070F18;
    margin-bottom: 40px;
    margin-top: 59px;
}

#icon {
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
   
    
    color: #575455;
   
}

#icon p {
    text-align: center;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    line-height: 54px;
    color: #000000;
}

#contato-img {
    margin-top: 90px;
    margin-bottom: 84px;
    height: 400px;
}

#contato-img--info p {
    width: 180px;
    height: 24px;
    left: 813px;
    top: 1386px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
   
    color: #F75C4E;
    margin-top: 130px;
}

#contato-img--info {
    text-align: left;
    margin-left: 60px;
}

#contato-img--info h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    
    color: #000000;
    margin-bottom: 0;
    margin-top: 0;
}

#contato-img--info {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    
    color: #575455;
}

#btn-enviar {
    color: white;
    width: 100px;
    height: 48px;
    left: 813px;
    top: 1662px;
    font-family: 'Poppins';
    font-size: 15px;
    background: #1F7CFF;
    border-radius: 50px;
    border: 0;
}

#email {
    width: 380px;
    height: 50px;
    background: #F5F6FB;
    border-radius: 50px;
    border: 0;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: px;
}

#text-portfolio h3 {
    text-align: left;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    margin-top: 0;
   
    color: #000000;
}

#text-portfolio p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    
    text-align: left;
    margin-bottom: 2px;
    color: #F75C4E;
}

.portifolio-img { 
  margin-bottom: 249px;
  padding-right: 30px;

}


@media screen and (max-width:700px) {
    body {
        text-align:center;
    }
    
}

@media screen and (max-width:700px){
    #menu{
        visibility: hidden;
    }

}

@media screen and (max-width:700px){
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        text-align: center;
    }

    #header-img #contato-img--info {
        display: flex;
        justify-content: center;
        align-items: center;    
    }

    #header-img{
        padding:0;
    }

    #btnserv{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left:100px;
        margin-bottom: 50px;
    }

    .logo{
        padding:10px;
        margin: 30px;
    } 

    #btn-enviar{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
}




@media screen and (max-width:500px) {
    #btnserv{
        visibility: hidden;
    }
    #header{
        padding-bottom: 0;
        margin-bottom: 0;
    }
    #header-nome{
        padding-top: 0;
        margin-top: 0;
    }
    #header-nome p{
        margin-bottom: 0;
    }
    #header-img{
        margin-top: 0;
        padding-top: 0;
    }

    .logo{
        padding:10px;
        margin: 30px;
    }

    #portifolio-img .portifolio-img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    }

    #header-img img{
        width:350px;
        height:350px;

    }
    #header-img{
        margin-bottom: 0;
        margin-top: 0;
    }

    #contato-img img{
        width:350px;
        height:350px;
        
    }

    #contato-img{
        margin-bottom: 0;
    }

    #email {
        width: 300px;
        height: 50px;
    }

    #contato-img--info{
        margin-top: 0;
        margin-bottom:20px;
    }

    #btn-enviar{
        margin-bottom:20px;  
    }

    #contato-img--info p{
        margin-top: 0;
    }
    #contato-img--info h3{
margin-top: 10px;
    }

    .portifolio-img {
        margin-bottom: 150px;
    
    }
    
    #portifolio-img {
        padding-right: 55px;
    }

    #clientes{
        margin-top: 0;
    }
}



